
<ion-view view-title="About UnitTrust" >
<div class="bar bar-header bar-calm-900">

  <h1 class="title">About Unit Trust </h1>
</div>
<div class="bar bar-header bar-calm-900">
  <h1 class="title">About Unit Trust </h1>
  <a class="button button-clear button-icon icon ion-home" href="#/app"></a>
  
</div>
  <ion-content>
  <div class="row">
  	<div class="col">
      <h3><b>Unit Trusts</b></h3>
      <p>The Pan Africa Unit Trust scheme offers three exciting funds which you can now access as an investor from as low as Kshs 2,500</p>
      <p>The 3 funds allow a choice of investment products that match your investment needs. Unit Trusts work by pooling contributions of many investors into one large fund (pooled fund) which can then be invested in a variety of financial products, including money market, treasury and corporate bonds, shares and property. These funds are a good way to invest. This is due to the nature of ‘collective investments’ which spreads your money around, and lowers the risk of loss of your investment, which benefits from the expertise of fund management.</p>
      <p>There is no limit on the amount you can invest within the fund. Unit trusts are protected by the Capital Markets (Collective Investment Schemes) Regulations 2001, and an independent trustee who is the registered holder of the scheme’s underlying assets. This is typically a Bank.</p>
      <p><b>Benefits of Unit Trusts</b></p>

      <ul>
		  <li>Quick access to funds - liquidity</li>
		  <li>Diversification of investments</li>
		  <li>Excellent returns</li>
		  <li>Expert decision making</li>
		  <li>Flexible and affordable investment</li>
	     <li>Cash Withdrawal Facility</li>
         <li>Professional investment input in the creation of investment value</li>
         <li>Lower/minimal investment costs</li>
		</ul>
    </div>
  </div>
 </ion-content>
</ion-view> 
