<ion-view view-title="Thank You " >
<div class="bar bar-header bar-royal">

  <h1 class="title">Forgot Password  </h1>
  <a class="button button-clear button-icon icon ion-home" href="#/app"></a>
</div>
  <ion-content>

           <div class="hero no-header flat">
            <div class="content">
                <div class="forgotpassword-icon"></div>
            </div>
        </div>

        <div class="card">
           <div class="item item-text-wrap">
           	 <h4>In Order to Receive Your New Login Credential Kindly Provide us the Email Address Used During Registration Process</h4>
              <div class="list">
							   <div class="item item-input-inset">
							      <label class="item item-input-wrapper"> <i class="icon ion-email placeholder-icon"></i>		
							      <input type="text" placeholder="Email Address">
							      </label>
							     
							   </div>
               </div>							   
           </div>
           
           <div class="item item-text-wrap">
           
              <button class="button button-block button-assertive " ng-click="paymentoption()">
                 Reset
              </button>

           </div>
        </div>

   </ion-content>