<ion-view  >
<div class="bar bar-header bar-calm-900">
	<button class="button-clear icon-left ion-arrow-left-a" ng-click="GoBack()"></button>
  <h1 class="title">Interest Price List For {{productname}} </h1>
   <a class="button button-clear button-icon icon ion-home" href="#/app"></a>
</div>
  <ion-content>
       <div class="card"  ng-repeat="interest in interestrates">
		
		
			  <div class="item item-text-wrap">
			  
			   {{interest.rateDate | date:"dd/MM/yyyy"  }}
			  </div>
			   <div class="item item-text-wrap">
			       {{interest.rate }} <b> % </b> 
			  </div>
       
      </div>

  </ion-content>
   <ion-footer-bar class="bar bar-calm-900">
   <a class="title padding padding-right" href="#/app/about" > <small>Want to Know More About Unit Trust ? .....</small></a>
</ion-footer-bar>
</ion-view>