      <ion-popover-view class="fit">
        <ion-content>
          <div class="list">
            
            <a class="item " href="#" target="_blank">
              Purchase Units
            </a>
            <a class="item " href="#" target="_blank">
             View Pending Transactions
            </a>
            <a class="item " href="#" target="_blank">
             Trend
            </a>
             <a class="item " href="#" target="_blank">
              Invite Friends
            </a>
            <a class="item " ng-click="logout()" >
             Logout 
            </a>
          </div>
        </ion-content>
      </ion-popover-view>