
<ion-view view-title="Thank You " >
<div class="bar bar-header bar-assertive">
  <h1 class="title">Thank You </h1>
   <a class="button button-clear button-icon icon ion-home" href="#/app"></a>
</div>
  <ion-content>
    <div class="hero no-header flat">
            <div class="content">
                <div class="thankyou-icon"></div>
            </div>
        </div>

        <div class="card">
           <div class="item">
              <h2><b>Pan Africa Asset Management </b></h2>
              Thank You For A Successfull Registration .
              <p>Your Member Number is  : <b>{{virtualAccNumber}}</b></p>
           </div>
           
           <div class="item item-text-wrap">
              You can Start Investing from an  Initial Minimum Amount of Ksh 2500
              <a ng-show =false class="button button-block button-energized icon icon-right ion-arrow-right-c" ng-click="paymentoption()">
                 Proceed to Payments 
              </a>

           </div>
        </div>
        <a class="padding padding-right" href="#/app/about" >Want to Know More About Unit Trust ? .....</a>
 </ion-content>
 <ion-footer-bar class="bar-assertive">

 
  
  <h5 class="title">&copy; Pan Africa Asset Management <small >Powered by Wizglobal</small></h5>

 

</ion-footer-bar>
</ion-view> 
